/* same rules with Characters page except below rules */

.comicImg-container img {
  height: 350px;
  width: 280px;
}

.description-container {
  font-size: 18px;
}

.comicCard {
  width: 400px;
  height: 400px;
  margin-bottom: 5px;
}

.favStar {
  color: red;
  font-size: 1em;
  color: #ed1c24;
}

.nonFavStar {
  color: black;
  font-size: 1em;
}
